{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container mt-4" align="center">
        <h1>Bienvenue dans HomeCine</h1>

        <p>Cette application a été conçue en 2019 dans le cadre du cours d'Application Web de 4e informatique à l'ECAM.</p>
        <a class="nav-link" href="search">TEST</a>
</div>
{% endblock %}
